:host {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;

  p {
    margin: 0;
    color: white;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
  }
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}
