<header>
  <nav>
    <div class="header-left">
      <ul>
        <li matTooltip="Colaborar">
          <a routerLink="colaborar">
            <mat-icon>control_point</mat-icon>
          </a>
        </li>

        <li matTooltip="Ayuda">
          <a routerLink="colaborar"> <mat-icon>help_outline</mat-icon></a>
        </li>
      </ul>
    </div>
    <div class="header-center">
      <a routerLink="">
        <h1>Carnavaldle</h1>
      </a>
    </div>
    <div class="header-right">
      <ul>
        <li matTooltip="Clasifiación">
          <a routerLink="clasificacion">
            <mat-icon> insert_chart_outlined</mat-icon></a
          >
        </li>
        <li matTooltip="Usuario">
          <a routerLink="iniciar-sesion"><mat-icon>person_outline</mat-icon></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
