:host {
  height: 20%;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 5px 0 0 0;
      display: flex;
      justify-content: space-around;
      gap: 10px;
      li {
        list-style: none;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
