:host {
  width: 100%;
}

section {
  // border-radius: 8px;
  // border: 2px solid green;
  header {
    text-align: center;
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
}

::ng-deep {
  .owl-nav {
    position: absolute;
    bottom: 90px;
    width: 100%;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    padding: 2px 4px !important;
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}
