@import "/src/assets/scss/variables.scss";

:host {
  width: 100%;
}

section {
  // border-radius: 8px;
  // border: 2px solid green;
  header {
    text-align: center;
    p {
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

::ng-deep {
  .owl-nav {
    position: absolute;
    bottom: 90px;
    width: 100%;
    font-family: cursive;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    padding: 4px 6px !important;
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }

  .owl-theme .owl-nav [class*="owl-"] {
    background: $grey;
    color: $white;

    &:hover {
      background: $darkGrey;
    }
  }

  .owl-theme .owl-nav .disabled {
    cursor: not-allowed;
    background: $grey !important;
  }
}
