:host {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  width: 99%;
  gap: 15px;
  margin: 15px auto auto auto;
}
.button-container {
  display: flex;
  justify-content: end;
}
