:host {
  width: 100%;
}

section {
  width: 99%;
  margin: 20px auto auto auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.button-container {
  display: flex;
  justify-content: end;
}

.agrupacion-pieces-list {
  h3 {
    margin: 0;
  }

  ul {
    margin: 0;
    list-style-type: decimal;
  }
}

::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
