:host {
  width: 100%;
}

.quote-container {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 8px;
  border: 2px solid green;
  height: 150px;

  header {
    height: 15%;
    p {
      margin: 0;
      font-size: 1rem;
    }
  }

  main {
    height: 85%;
    display: grid;
    place-items: center;
    p {
      margin: 0;
      font-size: 1.2rem;
      line-height: normal;
    }
  }
}
