.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 99%;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}

.timmer-button-container {
  display: flex;
  justify-content: center;
  height: min-content;
  width: 100%;
  position: relative;
  button {
    height: 100%;
  }
}
