.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 99%;
  margin: auto;
}

.timmer-button-container {
  display: flex;
  justify-content: center;
  height: 100px;
  border: 1px dotted blue;
  width: 100%;
  position: relative;
  button {
    height: 100%;
  }
}
