@import "../assets/scss/variables";

.wrapper {
  width: 60%;
  margin: auto;

  @media (width < $xs-breakpoint) {
    width: 90%;
  }

  @media ($xs-breakpoint <= width <= $sm-breakpoint) {
    width: 75%;
  }
}
