@import "../assets/scss/variables";

.wrapper {
  width: 50%;
  margin: auto;
  height: 100%;

  @media (width < $xs-breakpoint) {
    width: 94%;
  }

  @media ($xs-breakpoint <= width <= $sm-breakpoint) {
    width: 60%;
  }
}

::ng-deep .alertify-notifier.ajs-top {
  top: 40px !important;
}
