:host {
  width: 100%;
}

::ng-deep {
  .autocomplete-container {
    .suggestions-container.force-hidden {
      visibility: hidden !important;
    }

    .not-found.force-hidden {
      visibility: hidden !important;
    }

    .input-container {
      input {
        padding: 0 10px !important;
        text-overflow: ellipsis !important;
        width: 96% !important;
      }
      .x {
        right: 5px !important;
      }
    }

    .suggestions-container ul li a {
      padding: 12px 10px !important;
    }
  }

  .autocomplete-overlay {
    display: none !important;
  }
}

.guessbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  .ng-autocomplete {
    width: 75%;
  }

  .button-container {
    width: 22%;
    height: 100%;

    button {
      height: 100%;
      width: 100%;
    }
  }
}
