@import "/src/assets/scss/variables";

.results-section {
  main {
    display: flex;
    justify-content: space-between;

    .align-right {
      text-align: right;
    }

    h3,
    h4 {
      margin: 0;
    }

    h3 {
      font-size: 18px;
      // text-decoration: underline;
      letter-spacing: 0.1rem;
      position: relative;
    }
    h3::after {
      content: "";
      position: absolute;
      bottom: 5px; /* Ajusta este valor para mover la línea hacia arriba */
      left: 0;
      width: 100%;
      height: 1px; /* Grosor de la línea */
      background-color: $white; /* Color de la línea */
    }

    h4 {
      display: flex;
      justify-content: space-between;
    }
  }
}
