<section class="results-section">
  <!-- <header>
    <h2 *ngIf="isMatchStarted">Partida en curso</h2>
    <h2 *ngIf="!isMatchStarted">Pulsa en Empezar para iniciar partida</h2>
  </header> -->

  <main>
    <article>
      <h3>Partida actual</h3>
      <h4>
        Total aciertos: <span> {{ resutls.numeroAciertos }}</span>
      </h4>
      <h4>
        A la primera: <span> {{ resutls.numeroAciertos }}</span>
      </h4>
    </article>
    <article class="align-right">
      <h3>Record personal</h3>

      <h4>
        Total aciertos: <span> {{ resutls.numeroAciertos }}</span>
      </h4>
      <h4>
        A la primera: <span> {{ resutls.numeroAciertos }}</span>
      </h4>
    </article>
  </main>
</section>
