:host {
  width: 100%;
}

section {
  width: 99%;
  margin: 20px auto auto auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.custom-trigger {
  position: absolute;
  width: 97%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

::ng-deep {
  .mat-mdc-form-field {
    width: 100% !important;
  }

  .mat-mdc-form-field-infix {
    padding-bottom: 1px !important;
  }
}

.button-container {
  display: flex;
  justify-content: end;
}
